@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,600;1,700&family=Montserrat:ital,wght@0,300;0,500;1,700&display=swap');
/*
font-family: 'Lora', serif;
font-family: 'Montserrat', sans-serif;
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --gray1: #d5d8ea;
    --white1: #f3f3f3;
    --blue: #1f202f;
    --blue2: #191a22;
    --gray2: #79787e;
    --white2: #e5e5e5;
}
html{
    font-size: 62.5%;
}
body{
    background-color: var(--blue);
}


/* HEADER */

header{
    width: 100%;
    height: 6rem;
    display: flex;
    background-color: var(--blue2);
    justify-content: center;
    position: fixed;
    top: 0;
}
header .name-menu-container{
    display: flex;
    width: 90%;
    max-width: 1100px;
    align-items: center;
    justify-content: space-between;
}
.name-menu-container .name{
    color: var(--gray1);
    font-size: 2.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
.name-menu-container i{
    font-size: 2.5rem;
    color: var(--gray1);
}

/* HEADER MENU */
header .menu{
    position: fixed;
    top: 4.5rem;
    right: 0;
}
header .display-menu{
    display: none;
}
header .menu-container{
    width: 13rem;
    height: 14rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: var(--blue2);
    border-radius: 0 0 0 3rem;
}
header .menu-container a{
    font-size: 1.6rem;
    text-decoration: none;
    color: var(--gray1);
    margin-left: 2rem;
}
/*MENU EN TABLET Y DESKTOP*/
header .name-menu-container .menu-tablet-desktop{
    display: none;
}
/* MAIN */
main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ME SECTION*/

main .section-me{
    width: 90%;
    max-width: 1100px;
    display: flex;
    flex-direction: column;
    padding-top: 10rem;
}

main .section-me .profilePhoto{
    width: 100%;
    display: flex;
    justify-content: center;
}
.profilePhoto .profilePhoto-container{
    width: 27rem;
    height: 27rem;
}
.profilePhoto .profilePhoto-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

main .section-me .description-container{
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
    padding-bottom: 2rem;
    /*border-bottom: solid 1px var(--white1);*/
}
.section-me .description-container p{
    color: var(--white2);
    font-size: 1.3rem;
    font-family: 'Montserrat', sans-serif;
    text-align: start;
}
.section-me .description-container h1{
    font-size: 3rem;
    font-family: 'Lora', serif;
    color: var(--white1);
    letter-spacing: 0.2rem;
}


/* SKILLS SECTION */

main .section-skills{
    width: 90%;
    max-width: 1100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*border-bottom: solid 1px var(--white1);*/
    padding-top: 7.5rem;
}
main .section-skills .skills-tittle{
    font-size: 2.2rem;
    font-family: 'Lora', serif;
    font-weight: 700;
    color: var(--gray1);
}
main .section-skills .skills-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    margin-top: 2rem;
}
.skills-container .skills-img-container{
    width: 16rem;
}
.skills-container .skills-img-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    color: gray;
}


/* PROJECTS SECTION */

main .section-projects{
    width: 90%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 7.5rem;
}
main .section-projects .projects-tittle{
    font-size: 2.2rem;
    font-family: 'Lora', serif;
    font-weight: 700;
    margin-bottom: 3rem;
    color: var(--gray1);

}
main .section-projects .projects-container{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
}
main .section-projects .project{
    width: 100%;
    height: 30%;
    max-width: 40rem;
    margin-bottom: rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
}
main .section-projects .project .img-container{
    height: 80%;
}
main .section-projects .project .img-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.5rem;
}

main .section-projects .project p{
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    text-decoration: none;
    color: var(--white2);
    margin-top: 1.3rem;
}
 

/* FOOTER */
footer{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--blue2);
    margin-top: 6rem;
}
footer .social-media{
    width: 90%;
    max-width: 1100px;
    height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.social-media .media-img-container{
    margin: 2rem;
}
.social-media .media-img-container i{
    font-size: 3rem;
    color: var(--gray1);
}
