/*https://colorhunt.co/palette/06283d256d8547b5ffdff6ff
    font-family: 'Kanit', sans-serif;
    font-family: 'Anton', sans-serif;
*/

:root{
    --black: #232425;
    --Misty-blue: #ECF2F7;
    --Tan: #8F6956; 
    --Pewter: #D4D9DD;
    --Anton: 'Anton', sans-serif;
    --Kanit: 'Kanit', sans-serif;
    --Rubik-Bubbles: 'Rubik Bubbles', cursive;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    font-size: 62.5%;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}




/* header styles */
header{
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    background-color: var(--black);
    color: var(--Misty-blue);
    font-family: var(--Kanit);
    font-weight: 300;
    color: var(--Pewter);
}
.header-info{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header-info .tittle{
    font-size: 3rem;
    font-weight: 500;
}
.header-info p{
    font-size: 1.6rem;
}
.header-contact{
    width: 20%;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-contact .icons #hamburger-icon{
    color: var(--Misty-blue);
    font-size: 2.2rem;
}
.header-contact .icons #insta-whatsapp{
    display: none;
}




















/* main styles */
main{
    width: 100%;
    height: 75%;
    background-color: var(--Misty-blue);
}

/* footer styles */
footer{
    width: 100%;
    height: 10%;
    background-color: var(--Tan);
}